*{
    padding: 0;
    margin: 0;
    font-family:sans-serif;
    flex-wrap: wrap;
}
html{
    font-size: 62.5%;
}
.page{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #eff4fd;
    background-size: cover;
    
}
navbar{
    display: flex;
    width: 85%;
    margin: auto;
    padding: 2rem 0 ; 
    align-items: center;
    justify-content: space-between; 
}

navbar ul li{
    list-style: none;
    margin: 2rem 1rem;
    display: inline-block;
    
}
navbar ul li a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    text-transform: uppercase;
    
}
/* navbar ul li a::after{
    content:'';
    width: 0;
    height: .3rem;
    transition: 0.5s;
    background: tomato;
    position: absolute;
    left: 0rem;
    bottom: -1rem;
    border-radius: 2.5rem;    
 } */
navbar ul li a:hover{
    color: red;
}


.content {
    margin-left: 10%;
    margin-top: 8%;   
    color: rgb(7, 6, 6);
    display: inline-block;
}
.content h1{
    font-size: 5rem;
    color: #212121;
    margin-bottom: 2rem;
}


span{
    color: orange;
}
.content p{
  color: #555;
  line-height: 2.2rem;
  font-size: 2rem;
}


.socialmedia{
    display: flex;
    width: 100%;
    justify-content:center;
    flex-wrap: wrap;
    position: relative;
    margin-top: 5%;
    background: #eff4fd;
}
.socialmedia img{
    margin: 1rem;
    margin-left: 2rem;
}

.content a{
    background: #212121;
    padding: 1rem 1.8rem;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 3rem 0;
    border-radius: 0.5rem;
}

/* span{
    position: relative;
    align-items: flex-end;
} */
